
.education-wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.heading-timeline {
    text-align: center;
    font-weight: 400;
}

.heading-wrapper {
    text-align: center;
}

.heading {
    margin-bottom: 50px;
    position: relative;
    transition: all .3s;
    display: inline-block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.heading h1 {
    font-size: 40px;
    position: relative;
    width: auto;
    padding-bottom: 15px;
}

/* .heading h1, .heading p {
    margin: 0;
    font-weight: 400;
} */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1;
    color: #000000;
}

.heading p {
    text-align: right;
    width: auto;
    background-color: #010101;
    padding-left: 10px;
    position: absolute;
    right: 0;
    bottom: -10px;
    color: #6c63ff;
}

.about-education {
    width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 150px;
    @media (max-width: 768px) {
        width: 0;
        visibility: hidden;
    }
}

.about-education::after {
    content: "";
    position: absolute;
    background-color: #202020;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  
    @media (max-width: 768px) {
      width: 0;
      visibility: hidden;
    }
}

.about-education-content {
    display: table-cell;
    width: calc(100% - 200px);
    margin-top: 20px;
}

.about-education-content h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 0;
    font-weight: 550;
    background-color: #55198b;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
}

.about-education-content h5 {
    font-size: 18px;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 0;
}

.about-education-yearGrad h6 {
    font-size: 14px;
    margin-top: 0;
    font-weight: 500;
    text-align: center;
    color: #a1bcd8;
}

.about-education-content span {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #55198b;
    margin-top: 0px;
    font-weight: 550;
}

.about-education-content p {
    margin: 0;
    color: #868e96;
}

.textbox-left {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
    position: relative;
    -o-transition: all .3s;
    transition: all .3s;
}

.textbox-right {
    /* display: table; */
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
    position: relative;
    -o-transition: all .3s;
    transition: all .3s;
    display: inline-flex;
}

.mar-left {
    margin-left: 50%;
    padding-left: 2rem;
    /* text-align: left; */
    @media (max-width: 768px) {
      margin: 0;
    }
}

.mar-right {
    margin-right: 50%;
    padding-right: 2rem;
    /* text-align: right; */
    @media (max-width: 768px) {
      margin: 0;
    }
}

.about-education-yearGrad {
    display: table-cell;
    width: 200px;
    vertical-align: middle;
}

.about-education-yearGrad h1 {
    font-size: 60px;
    margin: 0;
    color: #a1bcd8;
    font-weight: 500;
}

.about-education-yearGrad, .textbox-left {
    float: right;
    padding-top: 30px;
}

.textbox-left, .about-education-content {
    float: left;
}

.textbox-left::after, .textbox-right::after {
    content: "";
    height: 15px;
    top: 50%;
    margin-top: -7px
}

.textbox-right::after {
    position: absolute;
    background-color: #000;
    width: 15px;
    border-radius: 100%;
    border: 0px solid #fff;
    left: -41px;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 100;
    @media (max-width: 768px) {
      visibility: hidden;
    }
}

.textbox-left, .textbox-right:hover::after {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
}

.textbox-right:hover::after {
    background-color: #fff;
    border: 3px solid #6c63ff;
    -o-transition: all .3s;
    transition: all .3s
}

.textbox-left::after, .textbox-left:hover::after {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s
}

.textbox-left::after {
    position: absolute;
    background-color: #000;
    width: 15px;
    border-radius: 100%;
    border: 0px solid #fff;
    right: -39px;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 100;
    @media (max-width: 768px) {
      visibility: hidden;
    }
}

.textbox-left:hover::after {
    background-color: #fff;
    border: 3px solid #6c63ff;
    -o-transition: all .3s;
    transition: all .3s
}

.textbox-left:hover .about-education-yearGrad h1,
.textbox-right:hover .about-education-yearGrad h1 {
    color: #6c63ff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media (max-width: 768px) {
    .textbox-right, .textbox-left {
        border-bottom: 1px solid #202020;
        padding-bottom: 30px;
    }
}

/* Animations */
@keyframes fade_down {
    0% {
      opacity: 0.01;
      transform: translateY(-20px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  
  @keyframes fade_up {
    0% {
      opacity: 0.01;
      transform: translateY(20px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  @keyframes fade_right {
    0% {
      opacity: 0.01;
      transform: translateX(20px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
  @keyframes fade_left {
    0% {
      opacity: 0.01;
      transform: translateX(-100px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
      transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
      transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }