<div class="about-wrapper">
    <div class="container-lg">
        <div class="about-title-wrapper">
            <div class="about text-center">
                <h1 class="about-title">About 📚</h1>
        </div>
        <div class="table-wrapper">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Full Name:</th>
                        <td>Maggie Dang</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">Date of Birth: </th>
                        <td>02/03/1999 (23 Years Old)</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">Location: </th>
                        <td>Toronto, Ontario, Canada</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-secondary">
                        <th scope="row">What I Can Do: </th>
                        <td>
                            <div>✅ Something here</div>
                            <div>✅ Something here</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>