@import "../../assets/colors.scss";

.projects-wrapper {
    padding-bottom: 5rem;
}

.heading-wrapper {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    /* background-color: white; */
}

.heading {
    margin-bottom: 0;
    position: relative;
    transition: all .3s;
    display: inline-block;
}

.heading-title {
    text-align: center;
    font-weight: 400;
}

.heading h1 {
    font-size: 40px;
    position: relative;
    width: auto;
    margin-bottom: 0;
}

.pagination-wrapper {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.pagination-controls {
    // background: #55198b !important;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.proj-entry {
    width: 95%;
    // height: 100%;
    /* float: left; */
    background: $bg-grey;
    margin-bottom: 3em;
    overflow: hidden;
}

.proj-entry h4 {
    font-weight: 600;
    margin-top: 8px;
    font-size: 20px;
    color: $dark-purple;
    margin-bottom: 5px;
}

.proj-entry h5 {
    // line-height: normal;
    // font-weight: 500;
    font-size: 1.2em;
    color: black;
}

.image-container {
    height: 45%;
    padding-right: 30px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card {
    width: 600px;
    height: 550px;
    // padding: 40px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
}

.card-content {
    width: 95%;
    height: 100%;
    // word-wrap: break-word;
    // overflow-y: scroll;
    overflow: hidden;
    overflow-wrap: break-word
    
}

.card-subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
}

.card-link {
    text-align: center;
    font-size: 15px;
}

.card-text-wrapper {
    width: 100%;
    height: 150px;
    overflow: auto;
    margin: 0;
    padding: 0;
    position: relative;
    // word-wrap: break-word;
    // white-space: nowrap;
    padding-bottom: 10px;
}

.card-text-wrapper:hover {
    overflow: scroll;
    overflow-x: hidden;
}


.card-text {
    font-weight: 300;
    width: 100%;
    // height: 45px;
}

@media (max-width: 1600px) {
    .card {
        width: 500px;
    }
    .card-text {
        height: 70px;
    }
}

@media (max-width: 1400px) {
    .card {
        width: 400px;
    }
    .card-text {
        height: 90px;
    }
}

