<div class="contact-wrapper">
    <div class="heading-wrapper">
        <div class="heading">
            <h1 class="heading-title">CONTACT ME 📧</h1>
        </div>
    </div>
    <div class="contact-text-wrapper">
        <div class="contact-text-container">
            <h2 class="contact-text">{{info.textContent}}</h2>
            <h2 class="contact-email">{{info.email}}</h2>
        </div>
        
    </div>
    <div class="social-wrapper">
        <app-socials></app-socials>
    </div>
</div>