
.work-exp-wrapper {
    padding-bottom: 5rem;
}

.heading-wrapper {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    /* background-color: white; */
}

.heading {
    margin-bottom: 0;
    position: relative;
    transition: all .3s;
    display: inline-block;
    /* -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s; */
}

.heading-title {
    text-align: center;
    font-weight: 400;
}

.heading h1 {
    font-size: 40px;
    position: relative;
    width: auto;
    /* border-bottom: 2px solid #6c63ff;
    padding-bottom: 5px; */
    margin-bottom: 0;
}

.work-wrapper {
    width: 100%;
    background-color: #e9e9e9;
    
}

.work-section {
    display: inline-flex;
    height: 400px;
    width: 100%;
}

.left-wrapper {
    width: 500px;
    margin-left: 400px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    /* display: table-cell;
    vertical-align: middle; */
    /* width: 100%;
    height: 100%; */
}

.right-wrapper {
    width: 100%;
    height: 100%;
    margin-right: 200px;
    margin-left: 50px;
    display: table;
    top: 0;
    left: 0;
}

.work-info-card-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.work-info-card {
    height: 220px;
    /* padding: 10px, 10px, 10px, 10px; */
    background-color: white;
}

mat-card-title {
    font-size: 30px;
    color: black;
}

mat-card-subtitle {
    font-size: 25px;
    line-height: 30px;
    color: rgb(97, 97, 97);
}

mat-card-content p {
    font-size: 17px;
    color: black;
    
}

@media (max-width: 1600px) {
    /* .work-wrapper {
        margin-right: 100px;
        margin-left: 100px;
    } */
    .left-wrapper {
        margin-left: 100px;
    }
    .right-wrapper {
        margin-right: 100px;
    }
}