@import "../../assets/colors.scss";

.heading-wrapper {
    text-align: center;
    margin-bottom: 0;
}

.heading {
    margin-bottom: 0;
    position: relative;
    transition: all .3s;
    display: inline-block;
}

.heading-title {
    text-align: center;
    font-weight: 400;
}

.heading h1 {
    font-size: 40px;
    position: relative;
    width: auto;
    /* border-bottom: 2px solid #6c63ff;
    padding-bottom: 5px; */
    margin-bottom: 0;
}

.skills-wrapper {
    display: flex;
    /* width: 100%; */
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 7rem;
    padding-top: 2rem;
    /* background-color: #e9e9e9; */
    background-color: $bg-grey;
}

.skills-section {
    align-items: center;
    padding-left: 17rem;
    padding-right: 17rem;
}

.mat-chip {
    /* background-color: #55198b; */
    font-size: 16px;
}

/* .skills-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.skills-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */

@media (max-width: 1500px) {
    .skills-section {
        padding-left: 13rem;
        padding-right: 13rem;
    }
}
