<div class="greet-main" id="greeting">
    <div class="greeting-main">
        <div class="greeting-text">
            <h1 class="greeting-text">
                {{greet.title}}
                <span class="emoji">👋</span>
            </h1>
            <p class="greeting-bio">{{greet.bio}}</p>
        </div>
        <div class="greeting-buttons">
            <div><a class="main-button">Contact Me</a></div>
            <div><a class="main-button">View My Resume</a></div>
        </div>
    </div>
</div>