@import "../../assets/colors.scss";

.greet-main {
    width: auto;
    height: 60%;
    padding: 2rem;
    padding-top: 2rem;
}

.greet-main::before {
    content: "";
    width: auto;
    height: 60%;
    background-image: linear-gradient(45deg, darken(#083a49be,5%), #410749af), url("../../assets/toronto.jpg");
    // background-image: linear-gradient(45deg, darken(#13abdb,5%), #B10DC9);
    background-size: 100%;
    // background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.greeting-text {
    font-size: 70px;
    line-height: 1.1;
    position: relative;
    color: white;
}

.greeting-bio {
    font-size: 25px;
    line-height: 40px;
    margin-top: 1rem;
    width: 700px;
    position: relative;
    text-align: left;
}

.emoji {
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: wave;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.greeting-buttons {
  display: inline-flex;
  position: relative;
}

.main-button {
    border: solid 5px white;
    color: white;
    font-weight: 400;
    width: max-content;
    padding: 13px 22px;
    margin: 15px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out 0s;
}

.main-button:hover {
    background-color: #ffffff;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, darken(#13abdb,5%), #B10DC9);
    color: black;
    transition: all .3s ease 0s;
    transform: translateY(-3px);

    .link-main-btn {
      color: black;
    }
}

.link-main-btn {
  text-decoration: none;
  color: white;
}

@media (max-width: 1250px) {
  .greet-main::before {
      background-size: 140%;
  }

  .greeting-text {
      font-size: 60px;
  }
  .greeting-bio {
      line-height: normal;
      font-size: 20px;
      width: 500px;
      text-align: left;
  }
  
}

@media (max-width: 750px) {
    .button-greeting-div {
        justify-content: space-around;
    }
    .greeting-text {
        font-size: 50px;
        text-align: center;
    }
    .greeting-bio {
        font-size: 16px;
        line-height: normal;
        text-align: center;
    }
    .greeting-main {
        display: block;
    }
}