<div class="socials-wrapper d-flex justify-content-between">
    <div class="icon-wrapper">
        <a href={{links.linkedin}} class="fa fa-linkedin d-flex justify-content-center flex-column"></a>
        <span class="tooltiptext">LinkedIn</span>
    </div>
    <div class="icon-wrapper">
        <a href={{links.github}} class="fa fa-github d-flex justify-content-center flex-column"></a>
        <span class="tooltiptext">Github</span>
    </div>
    <div class="icon-wrapper">
        <a href={{links.devpost}} class="fa fa-devpost d-flex justify-content-center flex-column">D</a>
        <span class="tooltiptext">Devpost</span>
    </div>
</div>