@import "../../assets/colors.scss";

.socials-wrapper {
    // font-size: 10px;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
}

.icon-wrapper .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $dark-purple;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-weight: 500;
    
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 41%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.icon-wrapper .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $dark-purple transparent;
}

.icon-wrapper:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 15px;
}
  
.fa:hover {
    opacity: 0.7;
    transition: 0.3s ease-in;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    font-size: 30px;
    background: #000000;
    color: white;
}

.fa-devpost {
    font-size: 30px;
    background: #353535;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}